input {
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}

.abc_button {
    -webkit-appearance: none !important;
    color: Black;
    font-size: 22px;
    border-radius: 2px;
    border: 2.5px solid White;
    padding: 3px 8px 3px 8px;
    margin: 3px;
    height: 36px;
    width: 36px;
    text-align: center;
    background-color: #f4f4f4;
    font-family: serif;
}

.abc_button[status="current"] {
    border: 2.5px double Black;
}

.abc_button[status="proposed"] {
    border: 2.5px solid #dbd4d4;
}

.abc_button[status="normal"] {
    border: 2.5px solid transparent;
}


.abc_button[included="yes"] {
    background-color: LawnGreen
}

.abc_button[included="no"] {
    background-color: Red
}