/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    padding: 20px;
    color: #333;
}


.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.3s;
    min-width: 330px;
}

.container:hover {
    transform: translateY(-5px);
}

.title {
    margin-bottom: 20px;
    font-size: max(32px, min(calc(5.882vw + 13.087px),42px));
    font-weight: 500;
    letter-spacing: .03em;
    color: #444444;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.alphabet span {
    margin: 2px;
    font-weight: 300;
    /*transition: color 0.3s;*/
    font-size: max(20px, min(calc(2.857vw + 10.57px),26px));
}

.alphabet span.included {
    color: #59b358;
}

.alphabet span.excluded {
    color: #E67A7A;
}

/*.grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    gap: 10px;*/
/*    !*margin: 20px auto;*!*/
/*    width: max(90%,270px);*/
/*    margin: 20px auto 20px -200%;*/
/*}*/

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*gap: calc(0.037*max(94% - 20px,270px));*/
    gap:  max(10px, min(calc(4.762vw + 10px - 476.2px), 30px));
    width: calc(94% - 20px); /* 90% of container width minus 20px for left and right margin */
    min-width: 270px; /* Minimum width of 270px */
    margin: 20px auto;
}

.grid button {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s,outline-color 0.3s;
    outline: 1px solid transparent;
    outline-offset: -1px;
    color: #444444;
}

.grid button:hover {
    background-color: #e0e0e0;
    outline-color: #444444;
}

.grid button span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid button.highlighted {
    outline-color: #b8b8b8;
    outline-width: 2px;
    /*background-color: #66ac6a;*/
    /*background-color: #78CD65;*/
    background-color: #7FD06D;
}

.grid button.current {
    outline-color: #888888;
    outline-width: 2px;
    outline-offset: 1.5px;
    /*outline-style: dotted;*/
}

.steps {
    font-weight: 300;
}

.instructions-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


.instructions-container h2 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.instructions-container h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.instructions-container p {
    margin-bottom: 20px;
}

.close-instructions {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 110px;
}


.win-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.win-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


.win-container h2 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.win-container h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.win-container p {
    margin-bottom: 20px;
}


.error-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.error-message {
    background-color: #e57373;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    color: #333;
}

.nav-button:hover {
    color: #666;
    transform: scale(1.1);
}

.nav-button:focus {
    outline: none;
}

.answer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

/*.answer-letter {*/
.answer-letter {
    /*display: table-cell;*/
    color: black;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(20px, min(calc(2.857vw + 10.57px),26px));
}



.grid button.highlighted-green {
    color: #FFFFFF;
    background-color: #7FD06D;
}

.grid button.highlighted-green:hover {
    color: #FFFFFF;
    background-color: #59b358;
}

.grid button.highlighted-red {
    color: #FFFFFF;
    background-color: #E67A7A;
    /* background-color: #e57373;*/
}

.grid button.highlighted-red:hover {
    color: #FFFFFF;
    background-color: #cc615e;
}

.answer-letter.correct {
    background-color: #7FD06D;
    /*#4caf50;*/
    color: #ffffff;
}

/*F7CFBB*/

.grid button {
    font-size: max(24px, min(calc(3.5715vw - 333.15px), 31.5px));
    /* Assuming you want to keep some padding, but adjust or remove as needed */
    /*padding: 10px;*/
}

.grid button span {
    /* Centering */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}