/* Copyright 2023 Ezra Winston. All rights reserved. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    padding: 20px;
    color: #333;
}

.header {
    display: flex; /* Use flex layout */
    justify-content: space-between; /* Align items to the left and right */
}


.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    text-align: center;
    transition: transform 0.3s;
    min-width: 330px;
    overflow: hidden;
}


.title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 300;
    margin-left: -35px;
    margin-top: -30px;
    /*vertical-align: middle;*/
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*.title span{*/
/*    padding-left: 2px;*/
/*    padding-right: 2px;*/
/*}*/

.title-P {
    color: #FFFFFF;
    background-color: #59b358;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 3px;
    padding-top: 5px;
}
.title-A {
    color: #FFFFFF;
    background-color: #cec2c2;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
}

.title-W {
    margin-right: 1px;
    padding-top: 5px;
    color: #555555;
}

/*.title-W {*/
/*    color: #FFFFFF;*/
/*    background-color: #cec2c2;*/
/*    margin-left: 1px;*/
/*    margin-right: 1px;*/
/*    padding-left: 3px;*/
/*    padding-right: 3px;*/
/*}*/

.info {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: -15px;
    margin-left: -5px;
    margin-right: -5px;
    color: #777;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 28px;
}

.alphabet span {
    margin: 1px;
    margin-top: 2px;
    font-weight: 300;
    /*transition: color 0.3s;*/
    /*font-size: max(20px, min(calc(2.857vw + 10.57px),26px));*/
    font-size: 20px;
    vertical-align: middle;
    /*width: 25px;*/
    height: 21.8px;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    padding-top: 1px;
    /*height: 34px;*/
}

    /*font-size: 20px; !* Size of the text *!*/
    /*border-radius: 50%; !* Make it circular *!*/
    /*width: 34px; !* Width of the button *!*/
    /*height: 34px; !* Height of the button *!*/
    /*line-height: 30px;*/

.alphabet span.included {
    color: #FFFFFF;
    background-color: #59b358;
}

.alphabet span.excluded {
    /*color: #E67A7A;*/
    color: #FFFFFF;
    background-color: #cec2c2;
}

/*.grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    gap: 10px;*/
/*    !*margin: 20px auto;*!*/
/*    width: max(90%,270px);*/
/*    margin: 20px auto 20px -200%;*/
/*}*/

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*gap: calc(0.037*max(94% - 20px,270px));*/
    /*gap:  max(10px, min(calc(4.762vw + 10px - 476.2px), 30px));*/
    gap: 11px;
    /*width: calc(94% - 20px); !* 90% of container width minus 20px for left and right margin *!*/
    /*min-width: 270px; !* Minimum width of 270px *!*/
    width: 270px;
    margin: 20px auto;
}

.grid button {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s,outline-color 0.3s;
    outline: 1px solid transparent;
    outline-offset: -1px;
    color: #444444;
    font-size: 27px;
}

.grid button:hover {
    background-color: #e0e0e0;
    outline-color: #444444;
}

.grid button span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid button.highlighted {
    outline-color: #b8b8b8;
    outline-width: 2px;
    /*background-color: #66ac6a;*/
    /*background-color: #78CD65;*/
    background-color: #7FD06D;
}

.grid button.current {
    outline-color: #888888;
    outline-width: 2px;
    outline-offset: 1.5px;
    /*outline-style: dotted;*/
}

.steps {
    font-size: 20px;
}

.instructions-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.instructions-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


.instructions-container h2 {
    margin-bottom: 10px;
    text-align:left;
    color: #666;
    font-weight: 400;
}

.instructions-container h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.instructions-container p {
    margin-bottom: 20px;
}

.close-instructions {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 110px;
}


.win-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.win-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: left;
    flex: 1;
    flex-direction: column;
    color: #444;
}


.win-container h2 {
    margin-bottom: 15px;
    text-align:left;
    color: #444;
    font-weight: 400;
    font-size: 28px;
}

.win-container h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.win1 {
    margin-bottom: 5px;
    width: 220px;
    font-size: 18px;
}

.win2 {
    margin-bottom: 5px;
    width: 220px;
    font-size: 18px;
}

.win-container p {
    font-size: 18px;
}

.error-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.error-message {
    background-color: #e57373;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    color: #333;
}

.nav-button:hover {
    color: #666;
    transform: scale(1.1);
}

.nav-button:focus {
    outline: none;
}

.answer {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 26px;
    margin-bottom: 10px;
}

/*.answer-letter {*/
.answer-letter {
    /*display: table-cell;*/
    color: #666;
    vertical-align: middle;
    width: 27px;
    height: 27px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}



.grid button.highlighted-green {
    color: #FFFFFF;
    background-color: #7FD06D;
}

.grid button.highlighted-green:hover {
    color: #FFFFFF;
    background-color: #59b358;
}

.grid button.highlighted-red {
    color: #FFFFFF;
    /*background-color: #E67A7A;*/
    background-color: #cec2c2;
    border-color: #cec2c2;
}

.grid button.highlighted-red:hover {
    color: #FFFFFF;

    /*background-color: #cc615e;*/
    background-color: #af9e9e;
}

.answer-letter.correct {
    background-color: #7FD06D;
    /*#4caf50;*/
    color: #ffffff;
}

/*F7CFBB*/

/*.grid button {*/
/*    font-size: max(24px, min(calc(3.5715vw - 333.15px), 31.5px));*/
/*    !* Assuming you want to keep some padding, but adjust or remove as needed *!*/
/*    !*padding: 10px;*!*/
/*}*/

.grid button span {
    /* Centering */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.rules-btn {
    /*background-color: white; !* White background *!*/
    border: 1px solid #666;
    color: #666;
    text-align: center; /* Center the text */
    font-size: 20px; /* Size of the text */
    border-radius: 50%; /* Make it circular */
    width: 34px; /* Width of the button */
    height: 34px; /* Height of the button */
    line-height: 30px;
    margin-top: -19px;
    margin-right: -19px;
    background-color: transparent;
}

.rules-btn:hover {
    border-color: #555; /* slightly darker border */
    color: #555; /* slightly darker text */
    background-color: #f7f7f7; /* very subtle background color change */
    cursor: pointer; /* Changes the mouse cursor to a hand when hovering over the button */
}

.glow-btn {
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0px 0px 5px 5px rgba(127, 208, 109, 1); /* Adjust color and size as needed */
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 2px 2px rgba(127, 208, 109, 1);
    }
    50% {
        box-shadow: 0px 0px 10px 10px rgba(127, 208, 109, 0.2);
    }
    100% {
        box-shadow: 0px 0px 2px 2px rgba(127, 208, 109, 1);
    }
}

.pathIcons {
  display: flex;
  flex-direction: row;
  width: 200px;
  flex-wrap: wrap;
  column-gap: 6px;
}
